# Webuntu Backend - Environment Variables

# The API token for your Fly.io account to spawn micro-VMs
# You can generate this using `fly tokens create deploy`
FLY_API_TOKEN=your_fly_api_token_here

# The name of your Fly.io application that hosts the backend
FLY_APP_NAME=webuntu-desktop-nodes
